body{
  background-image: url("https://www.unomaha.edu/college-of-arts-and-sciences/english/_files/images/books-wallpaper-10626-11133-hd-wallpapers.jpg");
background-repeat: no-repeat;
background-size: 100%;
}